body{
 font-family: 'Courier New', Courier, monospace;
  background-color: coral;
}

li{
  list-style:armenian;
  background-color: azure;
  padding: .4em 1em;
  margin-bottom: .5em;
  border-radius: .5em;
}

.cart{
  background: #0000007c;
  box-sizing: border-box;
  color: azure;
  border-radius: .5em;
  padding: .5em 1em;

}

.cart--title{
  position: relative;
}

.cart--title span{
  position: absolute;
  top:-5;
  left:-5;
  color: rgba(43, 255, 0, 0.74);
  font-size: smaller;
}